apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: arffornia-db-secret
  # No Namespace (neutral base)

spec:
  path: secret/postgres/arffornia
  keys:
    - username
    - password
  templates:
    CFG_DB_USERNAME: "{% .Secrets.username %}"
    CFG_DB_PASSWORD: "{% .Secrets.password %}"
  type: Opaque

---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: luckperms-db-secret
  # No Namespace (neutral base)

spec:
  path: secret/postgres/luckperms
  keys:
    - username
    - password
  templates:
    CFG_LUCKPERMS_USER: "{% .Secrets.username %}"
    CFG_LUCKPERMS_PASS: "{% .Secrets.password %}"
  type: Opaque

---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: arffornia-server-secret
  # No Namespace (neutral base)

spec:
  path: secret/arffornia/server
  keys:
    - CFG_RCON_PASSWORD
  type: Opaque
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: arffornia-svc-secret
  # No Namespace (neutral base)

spec:
  path: secret/arffornia/svc
  keys:
    - SVC_ID
    - SVC_PASSWORD

  templates:
    CFG_SVC_ID: "{% .Secrets.SVC_ID %}"
    CFG_SVC_PASSWORD: "{% .Secrets.SVC_PASSWORD %}"
  type: Opaque

---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: arffornia-proxy-secret
  # No Namespace (neutral base)

spec:
  path: secret/arffornia/proxy
  keys:
    - CFG_FORWARDING_SECRET
  type: Opaque
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: arffornia-discord-bot-secret
  # No Namespace (neutral base)

spec:
  path: secret/arffornia/discord-bot
  keys:
    - CFG_DISCORD_BOT_CHANNEL
    - CFG_DISCORD_BOT_TOKEN
  type: Opaque

