# fixme_var = ""

# -----------------------------------------------------------------------------
# Cloudflare Secrets
# -----------------------------------------------------------------------------
cloudflare_api_token_secret_var      = ""

# -----------------------------------------------------------------------------
# Arffornia
# -----------------------------------------------------------------------------
# -- Proxy
arffornia_forwarding_secret_var      = ""
arffornia_nuvotifier_token_var       = ""
arffornia_nuvotifier_private_key_var = ""
arffornia_nuvotifier_public_key_var  = ""

# -- Service Accounts
arffornia_svc_proxy_id_var       = ""
arffornia_svc_proxy_password_var = ""
arffornia_svc_id_var             = ""
arffornia_svc_password_var       = ""

# -- Server
arffornia_rcon_password_var       = ""
arffornia_discord_bot_channel_var = ""
arffornia_discord_bot_token_var   = ""

# -- Website
website_app_key_var                   = ""
website_azure_oauth_client_id_var     = ""
website_azure_oauth_client_secret_var = ""
website_pusher_app_id_var             = ""
website_pusher_app_key_var            = ""
website_pusher_app_secret_var         = ""
website_reverb_app_id_var             = ""
website_reverb_app_key_var            = ""
website_reverb_app_secret_var         = ""

# -- Database
postgres_arffornia_user_var     = ""
postgres_arffornia_password_var = ""
postgres_luckperms_user_var     = ""
postgres_luckperms_password_var = ""

# -----------------------------------------------------------------------------
# Adminer
# -----------------------------------------------------------------------------
adminer_basic_auth_var = ""

# -----------------------------------------------------------------------------
# CSI Driver SMB
# -----------------------------------------------------------------------------
smb_nas_user_var     = ""
smb_nas_password_var = ""

# -----------------------------------------------------------------------------
# Keycloak
# -----------------------------------------------------------------------------
keycloak_admin_user_var             = ""
keycloak_admin_password_var         = ""
keycloak_epinaloa_client_secret_var = ""
postgres_keycloak_user_var          = ""
postgres_keycloak_password_var      = ""

# -----------------------------------------------------------------------------
# Minio S3
# -----------------------------------------------------------------------------
minio_s3_root_user_var     = ""
minio_s3_root_password_var = ""

# -----------------------------------------------------------------------------
# Monitoring (Grafana)
# -----------------------------------------------------------------------------
grafana_admin_user_var     = ""
grafana_admin_password_var = ""

# -----------------------------------------------------------------------------
# N8n
# -----------------------------------------------------------------------------
n8n_encryption_key_var    = ""
postgres_n8n_user_var     = ""
postgres_n8n_password_var = ""

# -----------------------------------------------------------------------------
# Nextcloud
# -----------------------------------------------------------------------------
nextcloud_admin_user_var        = ""
nextcloud_admin_password_var    = ""
postgres_nextcloud_user_var     = ""
postgres_nextcloud_password_var = ""

# -----------------------------------------------------------------------------
# Plex
# -----------------------------------------------------------------------------
plex_claim_token_var = ""

# -----------------------------------------------------------------------------
# Vaultwarden
# -----------------------------------------------------------------------------
vaultwarden_admin_token_var       = ""
postgres_vaultwarden_user_var     = ""
postgres_vaultwarden_password_var = ""
