apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: docker-config-secret
  namespace: argo-workflows
spec:
  vaultRole: argo-wf-harbor-registry-role
  path: kvv2/argo-workflows/harbor-registry
  type: kubernetes.io/dockerconfigjson
  keys:
    - HARBOR_REGISTRY_NAME
    - HARBOR_REGISTRY_TOKEN
  templates:
    .dockerconfigjson:
      | # See doc: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials
      {
        "auths": {
          "harbor.arffornia.com": {
            "username": "{% .Secrets.HARBOR_REGISTRY_NAME %}",
            "password": "{% .Secrets.HARBOR_REGISTRY_TOKEN %}",
            "auth": "{% printf "%s:%s" .Secrets.HARBOR_REGISTRY_NAME .Secrets.HARBOR_REGISTRY_TOKEN | b64enc %}"
          }
        }
      }
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: git-creds
  namespace: argo-workflows
spec:
  vaultRole: argo-wf-git-ci-role # TODO create this role in vault with the right policies
  path: kvv2/argo-workflows/git-ci # TODO store the token in vault at this path
  type: Opaque
  keys:
    - GIT_ACCESS_TOKEN
  templates:
    token: "{% .Secrets.GIT_ACCESS_TOKEN %}"
