apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: keycloak-db-secret
  namespace: keycloak
spec:
  path: kvv2/postgres/keycloak
  vaultRole: keycloak-role
  keys:
    - username
    - password
  type: Opaque
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: keycloak-admin-secret
  namespace: keycloak
spec:
  path: kvv2/keycloak/admin
  vaultRole: keycloak-role
  keys:
    - username
    - password
  type: Opaque
