apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: n8n-encryption-secret
  namespace: n8n
spec:
  path: kvv2/n8n/encryption-key
  vaultRole: n8n-role
  keys:
    - key
  type: Opaque
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: n8n-db-secret
  namespace: n8n
spec:
  path: kvv2/postgres/n8n
  vaultRole: n8n-role
  keys:
    - username
    - password
  type: Opaque
