# Doc: https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

grafana:
  grafana.ini:
    server:
      root_url: "https://grafana.arffornia.com"
      serve_from_sub_path: false

  admin:
    existingSecret: "grafana-admin-creds"
    userKey: "admin-user"                         
    passwordKey: "admin-password"

  persistence:
    enabled: true
    storageClassName: "longhorn"
    size: 5Gi

  ingress:
    enabled: true
    ingressClassName: public
    hosts:
      - grafana.arffornia.com
    path: /
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.arffornia.com
    annotations:
      cert-manager.io/cluster-issuer: default-issuer

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
    
    # serviceMonitorSelectorNilUsesHelmValues: false
    # podMonitorSelectorNilUsesHelmValues: false