# Doc: https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

grafana:
  grafana.ini:
    server:
      root_url: "https://grafana.arffornia.com"
      serve_from_sub_path: false

  admin:
    existingSecret: "grafana-admin-creds"
    userKey: "admin-user"
    passwordKey: "admin-password"

  persistence:
    enabled: true
    storageClassName: "longhorn"
    size: 5Gi

  ingress:
    enabled: true
    ingressClassName: public
    hosts:
      - grafana.arffornia.com
    path: /
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.arffornia.com
    annotations:
      cert-manager.io/cluster-issuer: default-issuer

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

# ArgoCD Application issye on syncs
# issue: https://github.com/prometheus-community/helm-charts/issues/4500#issuecomment-2693911587
prometheusOperator:
  admissionWebhooks:
    enabled: true

    annotations:
      argocd.argoproj.io/hook: PreSync
      argocd.argoproj.io/hook-delete-policy: HookSucceeded

    patch:
      annotations:
        argocd.argoproj.io/hook: PreSync
        argocd.argoproj.io/hook-delete-policy: HookSucceeded

    mutatingWebhookConfiguration:
      annotations:
        argocd.argoproj.io/hook: PreSync

    validatingWebhookConfiguration:
      annotations:
        argocd.argoproj.io/hook: PreSync

prometheus-node-exporter:
  serviceMonitor:
    selector:
      matchLabels:
        release: kube-prometheus-stack
        app.kubernetes.io/name: prometheus-node-exporter

    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
