apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  # Disables TLS on the Argo CD server, as TLS termination is performed by the Gateway API (TLS offloading).

  # https://argo-cd.readthedocs.io/en/latest/operator-manual/ingress/#ambassador
  server.insecure: "true"
