apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: nextcloud-db-secret
  namespace: nextcloud
spec:
  path: kvv2/postgres/nextcloud
  vaultRole: nextcloud-role
  keys:
    - username
    - password
  type: Opaque
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: nextcloud-admin-secret
  namespace: nextcloud
spec:
  path: kvv2/nextcloud/admin
  vaultRole: nextcloud-role
  keys:
    - username
    - password
  type: Opaque
