apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: vaultwarden-secret
  namespace: vaultwarden
spec:
  path: kvv2/postgres/vaultwarden
  vaultRole: vaultwarden-role
  keys:
    - username
    - password
  templates:
    DATABASE_URL: "postgresql://{% .Secrets.username %}:{% .Secrets.password %}@postgres-cluster.postgres.svc.cluster.local:5432/vaultwarden"
  type: Opaque

---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: vaultwarden-admin-secret
  namespace: vaultwarden
spec:
  path: kvv2/vaultwarden/admin
  vaultRole: vaultwarden-role
  keys:
    - ADMIN_TOKEN
  type: Opaque
