apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: coder-db-secret
  namespace: coder
spec:
  path: kvv2/postgres/coder
  vaultRole: coder-role
  keys:
    - username
    - password
  templates:
    # URL de connexion standard pour Coder
    CODER_PG_CONNECTION_URL: "postgres://{% .Secrets.username %}:{% .Secrets.password %}@postgres-cluster.postgres.svc.cluster.local:5432/coder?sslmode=disable"
  type: Opaque
---
apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: coder-github-oauth
  namespace: coder
spec:
  path: kvv2/coder/config
  vaultRole: coder-role
  keys:
    - CODER_OAUTH2_GITHUB_CLIENT_ID
    - CODER_OAUTH2_GITHUB_CLIENT_SECRET
  type: Opaque
